@media (max-width: 1400px) {
  .container{
    max-width: 1100px;
  }

  .articles__item + .articles__item{
    margin-left: 34px;
  }
}


@media (max-width: 1200px) {
  .header{
    background-size: 70px;
    background-position: 0 135px;
  }

  .container{
    max-width: 900px;
  }

  .header__inner{
    align-items: center;
  }

  .header__img{
    max-width: 55%;
    margin-right: -15px;
    img{
      width: 100%;
    }
  }

  .providers{
    margin-bottom: 170px;
    align-items: center;
  }

  .providers-img{
    width: 50%;
    img{
      width: 100%;
    }
  }

  .apps{
    align-items: center;
  }

  .apps__img{
    width: 50%;
    img{
      width: 100%;
    }
  }

  .providers__info{
    margin-left: 50px;
  }

  .apps__info{
    margin-left: 0;
  }

  .slider__item{
    padding: 64px 50px 79px;
  }

  .slider__item-people{
    display: block;
    margin-right: 29px;
  }

  .slider__item-inner{
    align-content: center;
    align-items: center;
  }

  .slider__item-people-info{
    max-width: 206px;
    text-align: center;
  }


  .slider__item-people-img{
    margin-right: 0;
  }

  .slider__item-people-name{
    line-height: 37px;
  }

  .slider__item-text{
    font-size: 22px;
    line-height: 35px;
    max-width: 380px;
  }

  .articles__inner{
    padding: 0;
  }


  .articles__item-img img{
    width: 100%;
  }

}


@media (max-width: 1000px){
  .header{
    background-image: none;
  }

  .container{
    max-width: 770px;
  }

  .header__info{
    padding-top: 60px;
    max-width: 375px;
  }

  .header__title{
    font-size: 42px;
  }

  .services{
    margin-bottom: 100px;
  }

  .services__items{
    padding: 0;
  }

  .providers{
    margin-bottom: 90px;
  }

  .apps{
    margin-bottom: 150px;
  }

  .articles{
    background-image: none;
  }

  .articles__items{
    display: block;
    margin-bottom: 30px;
    &::before{
      display: none;
    }
  }

  .articles__item{
    max-width: 90%;
    margin: 0 auto 50px;
  }
}


@media (max-width: 900px){
  
  .header{
    position: relative;
  }

  .header__menu{
    display: none;
  }
  
  .header__menu.active{
    width: 100%;
    max-width: 100%;
    padding: 50px;
    display: block;
    min-height: 150px;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #458FF6;
    .menu-list{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li{
        font-family: "Muli-Bold";
        a{
          opacity: 0.9;
        }
      }
      li+li{
        margin-top: 20px;
      }
    }
  }

  .header__menu-btn{
    display: flex;
    align-items: center;
    z-index: 10;
  }

  .header__menu-btn.active{
    z-index: 11;
    border: 1px solid #000;
    border-radius: 6px;
    span{
      height: 0;
    }
    ::before{
      transform: rotate(-45deg);
      top: 50%;
    }
    ::after{
      transform: rotate(45deg);
      top: 50%;

    }
  }

  .header__info{
    padding-top: 25px;
  }

}


@media (max-width: 850px){
  .container{
    max-width: 650px;
  }

  .header__info{
    padding-top: 0;
  }

  .header__title{
    font-size: 37px;
  }

  .header__img{
    width: 45%;
    margin-right: -8px;
  }

  .services__item{
    width: 270px;
    padding: 30px;
  }

  .providers{
    flex-direction: column;
  }

  .apps{
    flex-direction: column-reverse;
  }

  .providers-img {
    width: 80%;
  }

  .apps__img{
    width: 80%;
  }

  .providers__info{
    margin-left: 0;
  }

  .slider{
    padding: 15px 0 62px 0;
  }

}


@media (max-width: 750px){

  .container{
    max-width: 570px;
  }

  .header__info{
    max-width: 300px;
  }

  .header__title{
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 20px;
  }

 .header__text{
   font-size: 18px;
   line-height: 28px;
   margin-bottom: 25px;
 }

}


@media (max-width: 600px){

  .container{
    max-width: 450px;
  }

  .header__top{
    padding-top: 40px;
    padding-bottom: 55px;
  }

  .header__info{
    max-width: 100%;
  }

  .header__img{
    display: none;
  }

  .services__items{
    justify-content: center;
  }

  .services__item{
    width: 70%;
  }

  .about{
    background-image: none;
  }

  .providers__title, .apps__title, .articles__title{
    font-size: 30px;
    line-height: 42px;
  }

  .slider::after{
    display: none;
  }

  .slider__item{
    padding: 64px 25px 79px;
  }

  .slider__item-inner{
    display: block;
    text-align: center;
  }

  .slider__item-people{
    display: flex;
    margin-bottom: 30px;
  }

  .slider__item-people-img{
    margin-right: 29px;
  }
}


@media (max-width: 500px){
  .container{
    max-width: 380px;
  }

  .slider .slider-arrows-left{
    left: calc(50% - 110px);
  }

  .slider .slider-arrows-right{
    left: calc(50% + 110px);
  }
}



@media (max-width: 400px){
  .container{
    max-width: 330px;
  }

  .services__item{
    width: 90%;
  }

  .slider__item-people-img{
    margin-right: 5px;
  }
}


@media (max-width: 350px){
  .container{
    max-width: 280px;
  }

  .header__title{
    font-size: 32px;
  }
}

