@import "vars";
@import "libs";
@import "global";
@import "fonts";


.header{
  background-image: url(../img/header-element.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 160px;
  margin-bottom: 190px;
}

.header__top{
  padding-top: 56px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  width: 100%;
  max-width: 545px;
}

.menu-list{
  font-family: "Muli-Regular";
  display: flex;
  justify-content: space-between;
  a{
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
    &.active{
      opacity: 1;
      font-family: "Muli-Bold";
    }
  }
}

.header__inner{
  display: flex;
  justify-content: space-between;
}

.header__info{
  padding-top: 106px;
  width: 100%;
  max-width: 445px;
}

.header__title{
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 25px;
}

.header__text{
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 45px;
}

.btn.header__btn{
 color: #fff;
  background-color: #458FF6;
}

.header__img{
  margin-right: -26px;
}


.services{
  background-image: url(../img/services-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  text-align: center;
  margin-bottom: 220px;
}

.services__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title{
  font-size: 36px;
  line-height: 56px;
  position: relative;
  margin-bottom: 61px;
  &::before{
    content: "";
    position: absolute;
    width: 56px;
    height: 2px;
    left: 50%;
    bottom: -26px;
    transform: translateX(-50%);
    background: #000000;
    border-radius: 5px;
  }
}

.services__text{
  max-width: 952px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 43px;
}

.services__items{
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(../img/services-element.png);
  background-repeat: no-repeat;
  background-position-y: 326px;
  background-position-x: right;
}

.services__item{
  width: 350px;
  min-height: 354px;
  padding: 45px 45px 45px 39px;
  margin-top: 37px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.services__item-img{
  height: 95px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.services__item-title{
  font-size: 24px;
  line-height: 56px;
}

.services__item-text{
  font-size: 16px;
  line-height: 28px;
}

.services__btn{
  margin-top: 69px;
}






@import "media";
